a {
    text-decoration: none;
    color: hsla(0, 0%, 20%, 1.0);

    @media (prefers-color-scheme: dark) {
        color: hsla(0, 0%, 100%, 1.0);
    }
}

a:hover {
    color: hsla(0, 0%, 40%, 1.0);

    @media (prefers-color-scheme: dark) {
        color: hsla(0, 0%, 80%, 1.0);
    }
}

h2 {
    text-align: justify;
    overflow-wrap: anywhere;
    word-break: break-all;
}

h3 {
    text-align: justify;
    overflow-wrap: anywhere;
    word-break: break-all;
}

p {
    text-align: justify;
    overflow-wrap: anywhere;
    word-break: break-all;
}

ul {
    margin: 0.2em 0 2em 2em;
}

ol {
    margin: 0.2em 0 2em 2em;
}

li {
    line-height: 2em;
    text-align: justify;
}

dl {
    margin: 1em;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;
}

dt {
    font-weight: bold;

}

dd {
    text-align: justify;
}

code {
    font-family: 'Fira Code', monospace;
}

hr {
    margin: 1em auto 1em auto;
    border-color: hsla(0, 0%, 70%, 1.0);
    border-style: solid;
    border-width: thin;
    background-color: hsla(0, 0%, 70%, 1.0);
}

.google-auto-placed {
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: white;
}

.body-block {
    margin: 0 auto 0 auto;
    color: hsla(0, 0%, 10%, 1.0);

    @media (prefers-color-scheme: dark) {
        background-color: hsla(0, 0%, 40%, 1.0);
        color: white;
    }

    > .content-block {
        width: 90vw;
        // margin-left: auto;
        // margin-right: auto;
        // margin-bottom: 1em;
        min-height: calc(100vh - 70px - 2em);

        @media screen and (max-width: 1100px) {
            width: unset;
            min-height: calc(100vh - 100px - 2em);
        }
    }

    > .footer-container {
        // margin-top: 1em;
        min-height: 70px;

        @media screen and (max-width: 1100px) {
            min-height: 100px;
        }
    }
}

.content-block {
    display: grid;
    grid-template-columns: 300px auto;
    gap: 3em;
    grid-auto-flow: row dense;
    // padding-bottom: 1em;

    @media screen and (max-width: 1100px) {
        grid-template-columns: auto;
        align-content: flex-start;
    }

    > .content-aside {
        @media screen and (max-width: 1100px) {
            position: sticky;
            top: 0;
        }

        @media screen and (max-width: 700px) {
            padding-left: 5vw;
            padding-right: 5vw;
        }
    }

    > .article-list {
        grid-column-start: 2;
        grid-row-start: 1;

        @media screen and (max-width: 1100px) {
            grid-column-start: unset;
            grid-row-start: unset;
        }
    }

    .google-auto-placed {
        grid-column-start: 2;

        @media screen and (max-width: 700px) {
            grid-column-start: unset;
        }
    }
}

.content-aside {
    padding-top: 1em;
    padding-left: 3em;

    @media (prefers-color-scheme: dark) {
        background-color: hsla(0, 0%, 20%, 1.0);
        border-right: 2px solid hsla(0, 0%, 10%, 1.0);
    }

    @media screen and (max-width: 1100px) {
        display: grid;
        grid-template-columns: auto 32px;
        align-items: center;
        width: 100vw;
        padding-left: calc((100vw - 600px) / 3);
        padding-right: calc((100vw - 600px) / 3);
        padding-bottom: 1em;
        background-color: hsla(0, 0%, 100%, 0.9);
        backdrop-filter: blur(1px);

        @media (prefers-color-scheme: dark) {
            background-color: hsla(0, 0%, 10%, 0.9);
            border: none;
        }
    }

    > .title {
        > .section {
            font-weight: normal;
        }
    }

    > .menuanchor {
        display: none;

        @media screen and (max-width: 1100px) {
            display: unset;
            text-align: center;
        }

        > a {
            // color: white;

            > .bi-list {
                width: 1.5em;
                height: 1.5em;
                vertical-align: middle;
            }
        }
    }

    > .social-links {
        margin-top: 1em;

        @media screen and (max-width: 1100px) {
            display: none;
        }
    }

    > #nav-block {
        @media screen and (max-width: 1100px) {
            display: none;
        }
    }
}

.social-links {
    > a > .button {
        border-radius: 16px;
        width: 24px;
        height: 24px;
        padding: 2px;
        background-color: hsla(0, 0%, 60%, 1.0);

        @media (prefers-color-scheme: dark) {
            background-color: hsla(0, 0%, 40%, 1.0);
        }
    }

    > a > .button:hover {
        background-color: hsla(0, 0%, 50%, 1.0);

        @media (prefers-color-scheme: dark) {
            background-color: hsla(0, 0%, 30%, 1.0);
        }
    }
}

#nav-block {
    > #tag-list {
        margin-left: 1em;
    }
}

#tag-list {
    list-style-type: "# ";

    > .item::marker {
        content: "# ";
    }
}

.article-list {
    padding-top: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-auto-flow: row dense;
    gap: 3em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    justify-content: center;

    @media screen and (max-width: 1100px) {
        grid-template-columns: 300px 300px;
        margin-left: auto;
        margin-right: auto;
        gap: calc((100vw - 600px) / 3);
    }

    @media screen and (max-width: 700px) {
        grid-template-columns: auto;
    }

    > .article-block {
        &.-feature {
            grid-column-end: span 2;

            @media screen and (max-width: 700px) {
                grid-column-end: unset;
            }
        }

        @media screen and (max-width: 700px) {
            margin-left: auto;
            margin-right: auto;
        }
    }

    > .read-more {
        // grid-row-start: -1;
    }

    > .paginator {
        grid-column-start: 1;
        grid-column-end: -1;

        @media screen and (max-width: 700px) {
            width: 90vw;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .google-auto-placed {
        grid-column-start: 1;
        grid-column-end: -1;
        margin-top: 1em;
        padding-top: 1em;
        margin-bottom: 1em;
        padding-bottom: 1em;

        @media screen and (max-width: 700px) {
            grid-column-start: unset;
            grid-column-end: unset;
        }
    }
}

.article-block {
    // box-shadow: 0 10px 30px -10px hsla(0, 0%, 20%, 0.5);
    border-radius: 4px;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 1em;

    > .link {
        display: grid;
        grid-template-columns: auto;
    }

    > .link > .image {
        width: 300px;
        height: 200px;
        object-fit: cover;
        background-color: hsla(0, 0%, 90%, 1.0);
        box-shadow: 0 10px 30px -10px hsla(0, 0%, 20%, 1.0);
        border-radius: 4px;

        @media (prefers-color-scheme: dark) {
            box-shadow: 0 10px 30px -10px hsla(0, 0%, 0%, 1.0);
            background-color: hsla(0, 0%, 50%, 1.0);
        }

        @media screen and (max-width: 700px) {
            width: 90vw;
            height: 60vw;
        }
    }

    > .link > .content {
        width: 300px;
        margin: 1em auto 0 auto;

        @media screen and (max-width: 700px) {
            width: 90vw;
            margin: 1em auto 0 auto;
        }

        > .article-meta {
            margin-left: 1rem;
            margin-right: 1rem;

            @media screen and (max-width: 700px) {
                margin-left: 5vw;
                margin-right: 5vw;
            }
        }

        > .heading {
            padding-bottom: 1em;
            margin-left: 1rem;
            margin-right: 1rem;
            font-size: medium;

            @media screen and (max-width: 700px) {
                margin-left: 5vw;
                margin-right: 5vw;
            }
        }

        > .description {
            margin-left: 1rem;
            margin-right: 1rem;
            color: hsla(0, 0%, 30%, 1.0);

            @media (prefers-color-scheme: dark) {
                color: unset;
            }

            @media screen and (max-width: 700px) {
                margin-left: 5vw;
                margin-right: 5vw;
            }
        }
    }

    &.-feature {
        > .link > .image {
            width: calc(600px + 3em);

            @media screen and (max-width: 1100px) {
                width: calc(600px + ((100vw - 600px) / 3));
            }

            @media screen and (max-width: 700px) {
                width: 90vw;
            }
        }

        > .link > .content {
            width: calc(600px + 3em);

            @media screen and (max-width: 1100px) {
                width: calc(600px + ((100vw - 600px) / 3));
            }

            @media screen and (max-width: 700px) {
                width: 90vw;
            }
        }
    }
}

.read-more {
    > .link > .content > .heading {
    }
}

.paginator {
    text-align: center;

    > .link {
        text-align: center;
        display: inline-block;
        background-color: hsla(0, 0%, 90%, 1.0);
        border-radius: 4px;
        font-variant: tabular-nums;
        height: 32px;
        min-width: 32px;
        padding-left: 0.2em;
        padding-right: 0.2em;
        margin-top: 0.2em;
        margin-bottom: 0.2em;

        @media (prefers-color-scheme: dark) {
            background-color: hsla(0, 0%, 30%, 1.0);
        }

        &.-highlight {
            background-color: hsla(0, 0%, 80%, 1.0);

            @media (prefers-color-scheme: dark) {
                background-color: hsla(0, 0%, 20%, 1.0);

            }
        }

        > .number {
            vertical-align: middle;
        }
    }

    > .link:hover {
        background-color: hsla(0, 0%, 70%, 1.0);

        @media (prefers-color-scheme: dark) {
            background-color: hsla(0, 0%, 10%, 1.0);
        }
    }
}

.article-meta {
    font-size: small;
}

.content-article {
    padding-top: 1em;

    > .article-meta {
        font-size: small;

        @media screen and (max-width: 1100px) {
            width: 90vw;
            margin-left: auto;
            margin-right: auto;
        }
    }

    > .article-action-block {
        @media screen and (max-width: 1100px) {
            width: 90vw;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.article-content {
    a {
        text-decoration: underline;
    }

    > .heading {
        font-size: xx-large;
        padding: 0 0 1em 0;

        @media screen and (max-width: 1100px) {
            width: 90vw;
            margin-left: auto;
            margin-right: auto;
        }
    }

    > .description {
        font-size: large;
        border-left: 2px solid hsla(0, 0%, 10%, 1.0);
        padding: 0 0 0 1em !important;
        margin-bottom: 1em;

        @media (prefers-color-scheme: dark) {
            border-color: hsla(0, 0%, 90%, 1.0);
        }
    }

    > h2 {
        padding: 1em 0 0.3em 0;

        @media screen and (max-width: 1100px) {
            width: 90vw;
            margin-left: auto;
            margin-right: auto;
        }
    }

    > h3 {
        padding: 1em 0 0.3em 0;

        @media screen and (max-width: 1100px) {
            width: 90vw;
            margin-left: auto;
            margin-right: auto;
        }
    }

    > p {
        line-height: 2em;
        padding : 1em 0 0.3em 0;

        @media screen and (max-width: 1100px) {
            width: 90vw;
            margin-left: auto;
            margin-right: auto;
        }

        > code {
            background-color: hsla(0, 0%, 90%, 1.0);
            padding: 0.2em;
            border-radius: 4px;

            @media (prefers-color-scheme: dark) {
                background-color: hsla(0, 0%, 30%, 1.0);
            }
        }
    }

    > blockquote {
        border-left: 2px solid hsla(0, 0%, 10%, 1.0);
        margin-left: 1em;
        padding-left: 1em;

        @media (prefers-color-scheme: dark) {
            border-color: hsla(0, 0%, 90%, 1.0);
        }

        @media screen and (max-width: 1100px) {
            width: 90vw;
            margin-left: auto;
            margin-right: auto;
        }
    }

    > dl {
        @media screen and (max-width: 1100px) {
            width: calc(90vw - 2em);
            margin-left: auto;
            margin-right: auto;
        }

        > dd {
            > code {
                background-color: hsla(0, 0%, 90%, 1.0);
                padding: 0.2em;
                border-radius: 4px;
            }
        }
    }

    > ul {
        @media screen and (max-width: 1100px) {
            width: calc(90vw - 2em);
            margin-left: auto;
            margin-right: auto;
        }

        > li {
            overflow-wrap: anywhere;
            word-break: break-all;

            > code {
                background-color: hsla(0, 0%, 90%, 1.0);
                padding: 0.2em;
                border-radius: 4px;

                @media (prefers-color-scheme: dark) {
                    background-color: hsla(0, 0%, 30%, 1.0);
                }
            }
        }
    }

    > ol {
        @media screen and (max-width: 1100px) {
            width: calc(90vw - 2em);
            margin-left: auto;
            margin-right: auto;
        }

        > li {
            overflow-wrap: anywhere;
            word-break: break-all;

            > code {
                background-color: hsla(0, 0%, 90%, 1.0);
                padding: 0.2em;
                border-radius: 4px;

                @media (prefers-color-scheme: dark) {
                    background-color: hsla(0, 0%, 30%, 1.0);
                }
            }
        }
    }

    > pre {
        padding: 1em;
        overflow-x: auto;
        width: calc(90vw - 300px - 1em);
        font-size: small;
        box-shadow: 0 10px 30px -10px hsla(221, 16%, 20%, 1.0);
        border-radius: 4px;
        margin-bottom: 1em;

        @media screen and (max-width: 1100px) {
            width: 100vw;
            padding: 5vw;
            border-radius: 0px;
        }
    }

    > hr {
        width: 60%;
    }

    img {
        width: calc(90vw - 300px - 1em);
        border-radius: 4px;

        @media screen and (max-width: 1100px) {
            width: 100vw;
            margin-left: -5vw;
            border-radius: 0;
        }
    }

    > iframe {
        width: calc(90vw - 300px - 1em);
        height: calc((90vw - 300px - 1em)/2);
        margin-bottom: 1em;

        @media screen and (max-width: 1100px) {
            width: 100vw;
            height: 60vw;
        }
    }

    > table {
        margin: 1em;
        width: 90%;
        font-size: small;

        @media screen and (max-width: 1100px) {
            width: calc(90vw - 2em);
            margin-left: auto;
            margin-right: auto;
        }
    }

    > table th {
        background-color: hsla(0, 0%, 80%, 1.0);
        padding: 1em;

        @media (prefers-color-scheme: dark) {
            background-color: hsla(0, 0%, 10%, 1.0);
        }
    }

    > table td {
        background-color: hsla(0, 0%, 90%, 1.0);
        padding: 1em;

        @media (prefers-color-scheme: dark) {
            background-color: hsla(0, 0%, 20%, 1.0);
        }
    }

    > .google-auto-placed {
        margin-top: 2em;
        margin-bottom: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
        border-top: 1px solid hsla(0, 0%, 90%, 1.0);
        border-bottom: 1px solid hsla(0, 0%, 90%, 1.0);
        border-radius: 4px;
    }

}

.article-action-block {
    > .addtoany-block {
        margin: 1em auto 1em auto;
    }
}

.addtoany-block {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1em;

    > a > .button {
        border-radius: 4px;
        width: 100%;
        height: 32px;
        background-color: hsla(0, 0%, 60%, 1.0);

        @media (prefers-color-scheme: dark) {
            background-color: hsla(0, 0%, 20%, 1.0);
        }
    }

    > a > .button:hover {
        background-color: hsla(0, 0%, 50%, 1.0);

        @media (prefers-color-scheme: dark) {
            background-color: hsla(0, 0%, 30%, 1.0);
        }
    }
}

.footer-container {
    background-color: hsla(0, 0%, 90%, 1.0);
    padding: 1em 3em 1em 3em;
    display: grid;
    grid-template-columns: minmax(200px, auto) minmax(200px, auto);
    justify-content: space-between;
    font-size: small;
    align-items: end;
    gap: 1em;

    @media (prefers-color-scheme: dark) {
        background-color: hsla(0, 0%, 30%, 1.0);
        // border-top: 2px solid hsla(0, 0%, 20%, 1.0);
    }

    @media screen and (max-width: 1100px) {
        grid-template-columns: auto;
        justify-content: unset;
    }

    > .social-links {
        display: none;
        text-align: center;

        @media screen and (max-width: 1100px) {
            grid-column-start: 1;
            grid-column-end: -1;
            display: unset;
        }
    }

    > .copyright {
        @media screen and (max-width: 1100px) {
            grid-row-start: unset;
            text-align: center;
            margin-left: unset;
        }
    }

    > .float {
        color: hsla(0, 0%, 60%, 1.0);
        text-align: right;

        @media screen and (max-width: 1100px) {
            grid-row-start: unset;
            text-align: center;
        }

        > span {
            > .link {
                color: hsla(0, 0%, 50%, 1.0);
                font-weight: bold;
            }

            > .link:hover {
                color: hsla(0, 0%, 40%, 1.0);
            }
        }


    }
}
