{% extends "_base.html" %}

{% block title %}{{ term.name }} | {{ config.title }}{% endblock title %}

{% block head %}
<!-- Primary Meta Tags -->
<meta name="description" content="{{ term.name | title }} | {{ config.title }}">

<!-- Open Graph / Facebook -->
<meta property="og:title" content="{{ term.name | title }} | {{ config.title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ term.permalink | safe }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ config.extra.twitter_account }}">
<meta name="twitter:creator" content="{{ config.extra.twitter_account }}">
{% endblock head %}

{% block page_heading %}
<h1 class="title">
  <a href="/">{{ config.title }}</a><span class="section"> #{{ term.name }}</span>
</h1>
{% endblock page_heading %}

{% block content %}
  <main class="article-list">
    {% for post in paginator.pages %}
      {{ macros::article_block(post=post) }}
    {% endfor %}
    {{ macros::paginator_block() }}
  </main>
{% endblock content %}
