{% extends "_base.html" %}

{% block title %}{{ config.title }}{% endblock title %}

{% block head %}
<!-- Primary Meta Tags -->
<meta name="description" content="{{ config.description }}">

<!-- Open Graph / Facebook -->
<meta property="og:title" content="{{ config.title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ config.base_url | safe }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ config.extra.twitter_account }}">
<meta name="twitter:creator" content="{{ config.extra.twitter_account }}">
{% endblock head %}

{% block content %}
  <main class="article-list">
    {% set main_section = config.extra.main_section %}
    {%- if lang == config.default_language %}
      {% set section = get_section(path=main_section ~ "/_index.md") %}
    {%- else %}
      {% set path = main_section ~ "/_index." ~ lang ~ ".md" %}
      {% set section = get_section(path=path) %}
    {% endif %}
    {% for post in section.pages | slice(end=10) %}
      {{ macros::article_block(post=post) }}
    {% endfor %}
    {% if section.pages | length > 10 %}
      <article class="article-block read-more">
        <a href="{{ section.permalink | safe }}page/2"  class="link">
          <img class="image" loading="lazy" alt="MORE"
          srcset="{{ resize_image(path='../static/images/more.png', width=300, height=300) | safe }} 300w,
                  {{ resize_image(path='../static/images/more.png', width=600, height=600) | safe }} 600w,
                  {{ resize_image(path='../static/images/more.png', width=900, height=900) | safe }} 900w,
                  {{ resize_image(path='../static/images/more.png', width=1200, height=1200) | safe }} 1200w,
                  {{ resize_image(path='../static/images/more.png', width=1500, height=1500) | safe }} 1500w,
                  {{ resize_image(path='../static/images/more.png', width=1800, height=1800) | safe }} 1800w,
                  {{ resize_image(path='../static/images/more.png', width=2100, height=2100) | safe }} 2100w,"
          sizes="(max-width: 700px) 90vw, 300px">
          <section class="content">
            <aside class="article-meta">
              <br>
              <br>
            </aside>
            <h2 class="heading">
              MORE >
            </h2>
          </section>
        </a>
      </article>
    {% endif %}
  </main>
  {# <pre style="font-size: xx-small; 
              height: 50vh; 
              overflow: auto; 
              padding-top: 1em; 
              padding-bottom: 1em; 
              margin-top: 1em; 
              margin-bottom: 1em;
              grid-column-start: 1;
              grid-column-end: -1;
              background-color: hsla(0, 0%, 90%, 1.0);">
    <code>
      {{ __tera_context | escape }}
    </code>
  </pre> #}
{% endblock content %}
