{% extends "_base.html" %}

{% block title %}{{ page.title }} | {{ config.title }}{% endblock title %}

{% block head %}
  <!-- Primary Meta Tags -->
  {% if page.description %}
    {% set description = page.description %}
  {%- elif page.summary %}
    {% set description = page.summary %}
  {% else %}
    {% set description = page.content %}
  {% endif %}
  <meta name="description" content="{{ description | striptags | truncate(length=100) | safe }}">

  <!-- Open Graph / Facebook -->
  <meta property="og:title" content="{{ page.title }} | {{ config.title }}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{ page.permalink | safe }}">
  {% if page.extra.feature_image is matching("[.](jpg|png)$") %}
    <meta property="og:image" content="{{ page.permalink | safe }}{{ page.extra.feature_image }}">
  {% endif %}
  <meta property="article:published_time" content="{{ page.date }}">
  <meta property="article:modified_time" content="{{ page.date }}">
  <meta property="article:section" content="{{ page.components[0] }}">
  {% for tag in page.taxonomies.tags %}
    <meta property="article:tag" content="{{ tag }}">
  {% endfor %}

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="{{ config.extra.twitter_account }}">
  <meta name="twitter:creator" content="{{ config.extra.twitter_account }}">

  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap" rel="stylesheet">
{% endblock head %}

{% block page_heading %}
  {%- if lang == config.default_language %}
    {% set section_title = page.components[0] %}
  {%- else %}
    {% set section_title = page.components[1] %}
  {%- endif -%}
  <h1 class="title">
    <a href="/">{{ config.title }}</a><span class="section"> /{{ section_title | title }}</span>
  </h1>
{% endblock page_heading %}


{% block content %}
  {# <pre style="font-size: xx-small; 
              height: 50vh; 
              overflow: auto; 
              padding-top: 1em; 
              padding-bottom: 1em; 
              margin-top: 1em; 
              margin-bottom: 1em;
              grid-column-start: 1;
              grid-column-end: -1;
              background-color: hsla(0, 0%, 90%, 1.0);">
    <code>
      {{ __tera_context | escape }}
    </code>
  </pre> #}

  <article class="content-article">
    <aside class="article-meta">
      <time>{{ page.date }}</time>
      <br>
      <span>{% for tag in page.taxonomies.tags %}#{{ tag }} {% endfor %}</span>
    </aside>
    <main class="article-content">
      <h1 class="heading">
        {{ page.title }}
      </h1>
      <p class="description">
        {{ page.description }}
      </p>
      {{ page.content | safe }}
    </main>
    <section class="article-action-block">
      {% if config.extra.likecoin and config.extra.likecoin_name %}
        <div class="likeco-btn" data-name="{{ config.extra.likecoin_name }}" data-allowed-query-string=""></div>
      {% endif %}
      <!-- AddToAny BEGIN -->
      <div class="addtoany-block">
        <a href="https://www.addtoany.com/share#url={{ page.permalink }}&amp;title={{ page.title }}" target="_blank" rel="noopener noreferrer nofollow"><img class="button" src="https://static.addtoany.com/buttons/a2a.svg"></a>
        <a href="https://www.addtoany.com/add_to/twitter?linkurl={{ page.permalink }}&amp;linkname={{ page.title }}" target="_blank" rel="noopener noreferrer nofollow"><img class="button" src="https://static.addtoany.com/buttons/twitter.svg"></a>
        <a href="https://www.addtoany.com/add_to/pocket?linkurl={{ page.permalink }}&amp;linkname={{ page.title }}" target="_blank" rel="noopener noreferrer nofollow"><img class="button" src="https://static.addtoany.com/buttons/pocket.svg"></a>
        <a href="https://www.addtoany.com/add_to/facebook?linkurl={{ page.permalink }}&amp;linkname={{ page.title }}" target="_blank" rel="noopener noreferrer nofollow"><img class="button" src="https://static.addtoany.com/buttons/facebook.svg"></a>
        <a href="https://www.addtoany.com/add_to/line?linkurl={{ page.permalink }}&amp;linkname={{ page.title }}" target="_blank" rel="noopener noreferrer nofollow"><img class="button" src="https://static.addtoany.com/buttons/line.svg"></a>
      </div>
      <!-- AddToAny END -->
      {% if config.extra.utterances and config.extra.utterances_repo %}
        <hr>
        <script src="https://utteranc.es/client.js"
          repo="{{ config.extra.utterances_repo | safe }}"
          issue-term="pathname"
          label="Comment"
          theme="preferred-color-scheme"
          crossorigin="anonymous"
          async>
        </script>
      {% endif %}
    </section>
    <br>
    {% if config.extra.likecoin and config.extra.likecoin_name %}
      <script src="https://noobtw.github.io/likeco-btn/likeco-btn.js" async></script>
    {% endif %}
  </article>
{% endblock content %}
