{% extends "_base.html" %}

{% block title %}{{ section.title | title }} | {{ config.title }}{% endblock title %}

{% block head %}
<!-- Primary Meta Tags -->
<meta name="description" content="{{ section.title | title }} | {{ config.title }}">

<!-- Open Graph / Facebook -->
<meta property="og:title" content="{{ section.title | title }} | {{ config.title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ section.permalink | safe }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ config.extra.twitter_account }}">
<meta name="twitter:creator" content="{{ config.extra.twitter_account }}">
{% endblock head %}

{% block page_heading %}
<h1 class="title">
  <a href="/">{{ config.title }}</a><span class="section"> /{{ section.title }}</span>
</h1>
{% endblock page_heading %}

{% block content %}
  <main class="article-list">
    {% if paginator.pages %}
    {% for post in paginator.pages %}
      {{ macros::article_block(post=post) }}
    {% endfor %}
    {{ macros::paginator_block() }}
    {% endif %}
  </main>
{% endblock content %}
